*{
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
	font-size: 12px;
}

body{
  margin: 0px;
  border: 0px none;
  font-size: 12px;
  background-color: white;
  color: black;
}

p {
  font-size: 14px;
  padding: 8px;
}

fieldset{
  font-size : 20px;
  margin    : 8px;
}
fieldset legend {
  font-size : 20px;
  padding   : 8px;
}

fieldset span {
  color     :yellow;
  font-size : 20px;
}
#labelRule{
  font-size: 18px;
}

button{
  width :100px;
  height:30px;
  cursor: pointer;
}

.midButton{
  width:160px;
  height:30px;
  float:right;
}
