#modalRule{
  display: none;
}

.container {
  display: grid;
  grid-template-columns: 180px repeat(7, 1fr);
  grid-gap: 2px;
  gap: 2px;
  row-gap: 0px;
}
.container label{
  text-align: center;
  height: 24px;
}
.boxSrc {
  border: 2px solid #666;
  background-color: #ddd;
  border-radius: 4px;
  text-align: center;
  height: 33px;
  cursor: move; /* important */
  padding: 10px 2px 0px 2px;
}
.boxSrc.over {
  border: 3px dotted #666;
}
#currentUTC{
  font-size: 18px;
  color:red;
}
#FixedSentence{
  width: 160px;
  height: 18px;
}

#containerDrop{
  background-color: yellow;
  min-height: 44px;
  height: auto;
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 4px;
}
#containerDrop.over {
  border: 3px solid blue;
  background-color: skyblue;
}
.ruleBox{
  border: 1px solid gray;
  border-radius: 4px;
  padding: 2px;
  margin-right: 2px;
}
#rules{
  font-size: 18px;
  height: 22px;
}
.removeRule{
  width:12px;
  height: 12px;
  border:none;
  color:red;
  background-color:transparent;
  font-size:18px;
}

#ruleYes {
  background-color:cyan;
  width: 160px;
}
#ruleNo {
  width: 160px;
}
